.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
  padding: 24px;
}

.form > label {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 8px;
  font-family: "Montserrat", sans-serif;
}

fieldset {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 16px;
  margin: 0;
}

fieldset legend {
  font-family: "Montserrat", sans-serif;
  margin-left: 0;   
  padding: 0 5px;   
  text-align: left; 
}

.delayinput {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%; 
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  box-sizing: border-box;
  outline: none;
}

.delayinput:hover {
  border: 1px solid #000;
}

.delayinput:focus {
  border: 1px solid #4e75ff;
}

fieldset label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  accent-color: #4e75ff;
}

.btn-submit {
  width: fit-content;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.btn-submit:hover {
  background-color: #6c8cff;
}