.container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  padding: 24px;
}

.timer {
  display: flex;
  gap: 24px; 
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.value {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
}

.label {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase; 
  color: #2e2f42;
}